.booking-form-container {
  position: sticky;
  width: 375px;
  top: 105px;
  margin-left: 80px;
  padding: 24px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #e4e4e4;
}

.booking-form-container label {
  font-size: 17px;
  width: calc(50% - 17px);
}

.booking-form-price {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 17px;
}

.booking-form-price-text {
  margin-right: 5px;
  // letter-spacing: 1px;
}

.dates-container > div {
  width: 100%;
}

.guests-container {
  margin-top: 16px;
}

.booking-form-text {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.booking-form-stars {
  display: flex;
  margin-bottom: 15px;
  font-size: 10px;
  align-items: center;
}

.booking-form-stars p {
  color: #484848;
  font-size: 12px;
  margin-left: 5px;
}

.you-wont-be-charged-yet {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.booking-form-container label input {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: normal;
  background-color: transparent;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 300;
  color: #484848;
  width: 100%;
  padding: 7px;
}

.guest-input {
  height: 40px;
  width: 100%;
  border: 1px solid #e4e4e4;
  font-size: 14px;
  padding: 0 7px;
}

.booking-form-container .check-in:focus {
  color: #007a87;
  background-color: #99ede6;
  border-radius: 3px;
  border-top: 1px solid #008489;
  border-left: 1px solid #008489;
  border-bottom: 1px solid #008489;
}

.booking-form-container .check-out:focus {
  color: #007a87;
  background-color: #99ede6;
  border-radius: 3px;
  border-top: 1px solid #008489;
  border-right: 1px solid #008489;
  border-bottom: 1px solid #008489;
}

.calendar-input {
  display: flex;
  border: 1px solid #e4e4e4;
  text-align: center;
  margin-bottom: 7px;
  justify-content: space-between;
}

.arrow {
  align-self: center;
  padding-top: 5px;
}

.booking-buttons-container {
  margin-top: 7px;
  box-sizing: border-box;
}

.booking-submit-button {
  background-color: #ff5a5f;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  font-weight: 450;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.booking-submit-button:hover {
  background-color: #d13e43;
}

.booking-facts {
  display: flex;
}

.mb-5 {
  margin-bottom: 5px;
}

.fs-14 {
  font-size: 14px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.icon-flag:before {
    content: '\f177'
}

.lightbulb-img {
  height: 60px;
  width: 60px;
  background-image: url('https://a0.muscache.com/airbnb/static/page3/icon-uc-light-bulb-b34f4ddc543809b3144949c9e8cfcc8d.gif');
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: 60px 60px;
}

.report-link-container {
  text-align: center;
  margin-top: 17px;
}

.report-link {
  display: inline-block;
  margin-left: 7px;
}

.report-link:hover {
  text-decoration: underline;
}
