#footer {
  position: fixed;
  bottom: 13px;
  right: 13px;
  left: auto;

  z-index: 5;
}

.hide {
  transition: transform .3s,-webkit-transform .3s;
  transform: translateY(0);
}

.footer-button-container {
  min-width: 50px;
  align-items: center;
  display: flex;
  background: white;
  border-color: transparent;
  cursor: pointer;
  position: relative;
  text-align: center;
  transition-duration: 0.2s;
  width: auto;
  line-height: 18px;
  letter-spacing: normal;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding: 8px 16px;
  color: #484848;
  margin: 0;
  text-decoration: none;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  z-index: 500;
}

.footer-button {
  font-size: 14px;
  font-weight: 500;
}

.footer-button-container:hover {
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.footer-text {
  display: inline-block;
}

.footer-links-container {
  width: 100%;
  height: 8%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 499;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-link-container {
  display: flex;
  cursor: pointer;
  margin-right: 24px;
}

.footer-link {
  font-size: 18px;
  color: #484848;
}

.footer-link-container:hover a {
  cursor: pointer;
  padding-bottom: 3px;
  border-bottom: solid 2px #008489;
  color: #008489;
}

.footer-link-container:hover i {
  color: #008489;
}

.footer-links i {
  font-size: 27px;
  margin-right: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
