.create-listing-container {
  display: flex;
}

.listing-form-container {
  margin-top: 20px;
  width: 500px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  padding: 24px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  margin-bottom: 10px;
}

.listing-form-container-title {
  width: 100%;
}

.user-listing-params-container {
  text-align: center;
}

.listing-form-container div label {
  margin-right: 20px;
}

.listing-form-container label input,
.listing-form-container textarea {
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: normal;
  // background-color: transparent;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #484848;
  width: 100%;
  border: 1px solid #e4e4e4;
  padding: 11px;
  margin-bottom: 14px;
}

.listing-form-container-label {
  width: 100%;
  display: block;
}

.listing-form-container input:focus,
.listing-form-container textarea:focus,  {
  border: 1px solid #008489;
}

.listing-form-container .listing-submit-button:focus {
  background-color: #fc5a5f;
  border: none;
}

.listing-form-container textarea {
  min-height: 150px;
  width: 100%;
  border: 1px solid #e4e4e4;
}

.listing-submit-button {
  background-color: #ff5a5f;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  font-weight: 450;
  line-height: 22px;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 25px;
}
