.listing-index-container {
  margin-top: 7px;
  box-sizing: border-box;
}

.listing-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.listing-item-container {
  color: #484848;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 30px;
}

.listing-image {
  height: 200px;
  width: 300px;
  background-size: 300px 200px;
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid white;
}

.listing-content {
  max-height: 42px;
}

.listing-item-prices {
  margin-top: -3px;
  font-size: 14px;
}

.listing-item-title {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.listing-show-commodities {
  font-size: 16px;
  margin: 5px 0;
}

.listing-item-description {
  display: block;
  max-height: 300px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
  font-weight: 349;
}

// LISTING SHOW
.listing-show-image {
  max-width: 100vw;
  height: 100vh;
  background-image: image-url('plant-room.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
}

.listing-show-container {
  margin-top: 14px;
  padding-right: 24px;
  padding-left: 24px;
  // margin-left: auto;
  // margin-right: auto;
  width: 45%;
}

.listing-show-title {
  color: #484848;
  font-size: 24px;
  font-weight: 700;
}

.listing-show-description {
  font-size: 15px;
  font-weight: 350;
  margin-top: 10px;
  margin-bottom: 10px;
}

.listing-h1-container {
  margin-top: 17px;
  margin-left: 20px;
}

.listing-h1 {
  font-size: 22px;
  color: #484848;
  font-weight: 500;
}

.current-user-listings-container {
  position: absolute;
  // right: 108px;
  right: 3px;
  top: 105px;
  // width: 872px;
  width: 996px;
}
