.listing-index-container {
  box-sizing: border-box;
  // margin-left: 135px;
}

.ml-35 {
  margin-left: 35px;
}

.logged-in-listing-ul {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  grid-template-columns: repeat(4, minmax(307px, 1fr));
  grid-row-gap: 35px;
  display: inline-grid;
  // margin-right: 345px;
}
.not-logged-in-listing-ul {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  grid-template-columns: repeat(5, minmax(307px, 1fr));
  grid-row-gap: 35px;
  display: inline-grid;
  // margin-right: 345px;
}

.listing-item-container {
  color: #484848;
  // padding-left: 8px;
  padding-right: 3px;
  margin-bottom: 25px;
}

.listing-image {
  height: 200px;
  width: 300px;
  background-size: 300px 200px;
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid white;
}

.listing-content {
  max-height: 42px;
  max-width: 315px;
}

.listing-item-prices {
  margin-top: -3px;
  font-size: 12px;
}

.listing-item-title {
  max-width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.listing-show-commodities {
  font-size: 16px;
  margin: 21px 0;
}

.listing-item-description {
  display: block;
  max-height: 300px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
  font-weight: 349;
}

// LISTING SHOW
.listing-show-image {
  max-width: 100vw;
  height: 79vh;
  background-image: image-url('plant_room.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
}

.listing-show-container {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-left: 250px;
  display: flex;
  font-size: 13px;
}

.listing-show-left,
.listing-show-right {
  width: 100%;
}

.listing-show-right {
  position: relative;
}

.listing-show-title {
  color: #484848;
  font-size: 24px;
  font-weight: 700;
}

.listing-show-description {
  font-size: 16px;
  font-weight: 350;
  margin-top: 10px;
  margin-bottom: 10px;
}

.listing-h1-container {
  margin-top: 17px;
  margin-left: 20px;
  margin-right: 20px;
}

.listing-h1 {
  font-size: 22px;
  color: #484848;
  font-weight: 500;
}

.current-user-listings-container {
  position: absolute;
  // right: 108px;
  right: 3px;
  top: 105px;
  // width: 872px;
  width: 996px;
}

.star {
  background-image: '★';
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.house-rules-header {
  margin-bottom: 17px;
  font-size: 17px;
  font-weight: 450;
}

.amenities-container {
  display: flex;
}

.amenities-container ul {
  width: 50%;
}

.amenities-container ul li {
  margin-bottom: 7px;
  font-size: 16px;
}

.amenities-icon {
  height: 1.2em;
  width: 1.2em;
  margin-right: 8px;
}

.strict-text {
  font-weight: 450;
}
