.listing-item-container {
  color: #484848;
  // padding-left: 8px;
  padding-right: 3px;
  margin-bottom: 25px;
}

.listing-image {
  height: 200px;
  width: 300px;
  background-size: 300px 200px;
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid white;
}

.listing-content {
  max-height: 42px;
  max-width: 315px;
}

.listing-item-prices {
  margin-top: -3px;
  font-size: 12px;
}

.listing-item-title {
  max-width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.listing-show-commodities {
  font-size: 16px;
  margin: 21px 0;
}

.listing-item-description {
  display: block;
  max-height: 300px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
  font-weight: 349;
}

// LISTING SHOW
.listing-show-image {
  max-width: 100vw;
  height: 79vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
}

.listing-show-photo-container {
  height: 100%px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  z-index: 2;
}

.listing-show-photo-container img {
  max-height: 100%;
  max-width: 100%;
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.listing-show-photo-container img:hover {
  transform: scale(1.05);
}

.listing-show-photo-container:hover img {
  filter: brightness(55%);
}

.listing-show-photo-container:hover img:hover {
  filter: brightness(100%);
}

.listing-show-photo-left-container {
  border: 2px solid #000;
}

.listing-show-photo-left-container,
.listing-show-photo-middle-container,
.listing-show-photo-right-container {
  width: 100%;
}

.listing-show-photo-left-container {
  border: 2px solid #000;
  overflow: hidden;
}

.listing-show-photo-left-container img,
.listing-show-photo-middle-container img,
.listing-show-photo-right-container img {
  height: 100%
}

.middle-1,
.middle-2,
.right-1,
.right-2 {
  border: 2px solid #000;
  height: 50%;
  overflow: hidden;
}

.availability-calendar-container h3 {
  font-size: 17px;
  font-weight: 450;
  margin-bottom: 20px;
}

.availability-calendar-container {
  z-index: 1;
  margin-bottom: 30px;
}

.listing-show-container {
  width: 60%;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 13px;
}

.listing-show-left,
.listing-show-right {
  width: 100%;
}

.listing-show-right {
  position: relative;
}

.listing-show-title {
  color: #484848;
  font-size: 24px;
  font-weight: 700;
}

.listing-show-description {
  font-size: 16px;
  font-weight: 350;
  margin-top: 10px;
  margin-bottom: 10px;
}

.listing-h1-container {
  margin-top: 17px;
  margin-left: 20px;
  margin-right: 20px;
}

.listing-h1 {
  font-size: 22px;
  color: #484848;
  font-weight: 500;
}

.current-user-listings-container {
  position: absolute;
  right: 3px;
  top: 105px;
  width: 996px;
}

.house-rules-header {
  margin-top: 17px;
  margin-bottom: 17px;
  font-size: 17px;
  font-weight: 450;
}

.amenities-container ul,
.accessibilities-container ul {
  display:flex;
  flex-wrap: wrap;
}

.amenities-container ul li,
.accessibilities-container ul li {
  display: flex;
  width: 50%;
  margin-bottom: 17px;
}

.amenities-container ul li svg,
.amenities-container ul li i {
  margin-right: 7px;
}

.amenities-container ul li img {
  height: 24px;
  width: 24px;
  margin-right: 7px;
}

.amenities-container ul li p,
.accessibilities-container ul li {
  color: #767676;
  font-size: 16px;
}

.amenities-icon {
  height: 1.2em;
  width: 1.2em;
  margin-right: 8px;
}

.accessibilities-container li {
  font-size: 16px;
}

.strict-text {
  font-size: 15px;
  font-weight: 450;
  margin-bottom: 17px;
}

.cancellation-text {
  color: #767676;
  font-weight: 350;
  font-size: 15px;
  margin-bottom: 30px;
}
