.map-container {
  height: 100%;
  width: 100%;

  // right: 35px;
  // top: 182px;
  // padding: 35px;
}

.splash-page-map {
  position: absolute !important;
  right: -25px;
  top: 148px;
  padding: 35px;
  height: 500px;
  width: 350px;
}

.show-page-map {
  display: block;
  position: relative !important;
  height: 500px;
  width: 588px;
}
