.listing-map-container {
  height: 370px;
  width: 100%;
  margin-bottom: 30px;
}

.splash-page-map {
  position: absolute !important;
  right: -25px;
  top: 161px;
  padding: 35px;
  height: 500px;
  width: 350px;
}

.show-page-map {
  display: block;
  position: relative !important;
  width: 588px;
}
