.review-container {
  display: block;
  color: #484848;
  font-size: 24px;
  font-weight: 800;
  margin-top: 24px;
  margin-bottom: 24px;
}

.separator {
  margin-top: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ebebeb;
}

.review-length-header {
  font-size: 22px;
  font-weight: 600;
  margin-top: 24px;
}

.review-content-container {
  font-size: 16px;
}

.review-header {
  display: flex;
}

.user-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-image: image-url('default_user_icon.png');
  background-repeat: no-repeat;
  background-size: 34px 34px;
  margin: 0;
}

.review-user-date-container {
  margin-left: 10px;
}

.review-user-text {
  font-weight: 450;
}

.review-content-text {
  font-weight: 400;
}

.review-content-body {
  margin-top: 10px;
  margin-bottom: 10px;
}
