.user-listing-index-container {
  margin-left: 135px;
  margin-right: 135px;
  margin-top: 27px;
  box-sizing: border-box;
}

.user-listing-ul {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  grid-template-columns: repeat(3, minmax(375px, 1fr));
  grid-row-gap: 55px;
  display: inline-grid;
  margin-right: 345px;
}

.user-listing-item-container {
  color: #484848;
  // padding-left: 8px;
  padding-right: 8px;
  // margin-bottom: 30px;
}
