.user-listing-detail-container {
  margin-left: 45px;
  border: 1px solid black;
  width: 400px;
}

.user-listing-detail-submit-button {
  background-color: #ff5a5f;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  text-align: center;
  font-weight: 450;
  line-height: 22px;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 40px;
  margin-right: 17px;

  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.user-listing-detail-submit-button:hover {
  background-color: #d13e43;
}

.user-edit-delete-buttons-container {
  position: absolute;
  padding-left: 35px;
  padding-top: 15px;
}
