.booking-listing-item-container {
  // margin-left: 10px;
  // padding-top: 10px;
  // padding-left: 8px;
  // padding-right: 8px;
  // border: 1px solid #e4e4e4;

  // width: 375px;
  // margin-right: 10px;
  // margin-bottom: 20px;
  // border-radius: 3px;
  // color: #484848;
  // text-align: center;

  text-align: center;
  line-height: 30px;
  box-sizing: border-box;
}

.booking-listing-item-container img {
  height: 250px;
  border-radius: 3px;
}

.user-booking-ul {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 33% [col-start]);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

.booking-show-title {
  overflow: hidden;
  height: 60px;
  max-width: 95%;
  margin-top: 14px;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  margin-bottom: 14px;
  text-align: left;
  color: #484848;
  font-size: 20px;
  font-weight: 700;
}

.booking-text {
  line-height: 20px;
}

.booking-image {
  height: 200px;
  width: 375px;
  background-size: 375px 200px;
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid white;
}
