body {
  font-family: 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #484848;
  line-height: 1.43;
}

header {
  font-weight: 600;
}

a {
 text-decoration: none;
}


input[type="search"]::-webkit-search-cancel-button {
  font-size: 16px;
}

li {
  list-style-type: none;
}

label {
  position: relative;
  display: inline-block;
  width: 34%;
}

.main-content-container {

}

.index-splash-container {
  margin: 0 auto;
  width: 65%;
}

.logged-in-index-container {
  width: 100%;
  margin-left: 35px;
  /* margin-top: 40px; */
}

/* .logged-in-index-container .listing-ul {
  margin-right: 535px;
} */

.not-logged-in-index-container {
  margin: 0 auto;
  width: 95%;
}

.header-background {
  background-image: url('https://a0.muscache.com/4ea/air/r:w3100-h2074-sfit,e:fjpg-c80/pictures/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100vh;
  z-index: -500;
  margin-top: -82px;
}

.header-info {
  margin-top: 32px;
  margin-bottom: 32px;
}

.subheading {
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
  /* padding-left: 8px; */
}

.header-background-image-text {
  color: #484848;
}

.centered-heading {
  width: 95%;
  /* padding-left: 8px; */
  margin-left: auto;
  margin-right: auto;
}

.mt-27 {
  margin-top: 27px;
}

.loading-text {
  text-align: center;
  font-size: 50px;
  color: #ff5a5f;
}

.separator-12 {
  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
}

.separator-24 {
  margin-top: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ebebeb;
}



/* TODO: fix line under search bar */
.pac-container {
  border-top: none;
}
