body {
  font-family: 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #484848;
  line-height: 1.43;
}

header {
  font-weight: 600;
}

a {
 text-decoration: none;
}

.main-content-container {

}

.header-background {
  background-image: url('https://a0.muscache.com/4ea/air/r:w3100-h2074-sfit,e:fjpg-c80/pictures/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 900px;
  z-index: 1;
}

.header-info {
 margin-top: 32px;
 margin-bottom: 32px;
}

.subheading {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 0;
  color: #484848;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-top: 2px;
  padding-bottom: 2px;
}
